.footer_container_1 {
	/* border: 1px dotted blue; */
	background: rgb(22, 29, 70);

	height: 35vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-size: 2rem;
	color: rgb(225, 238, 255);
}

.footer_container_1 a {
	color: rgb(225, 238, 255);
}

.footer_container_2 {
	/* border: 1px dotted blue; */

	height: 15vh;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;

	font-size: 2rem;
	color: rgb(5, 52, 119);
	background: #334e8d;
}

.footer_2_h1 {
	font-size: 1rem;
	color: rgb(191, 218, 255);

	text-align: end;

	/* margin-bottom: 3rem; */
}
