.footer_container_1 {
	/* border: 1px dotted blue; */
	background: rgb(22, 29, 70);

	height: 35vh;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-size: 2rem;
	color: rgb(225, 238, 255);
}

.footer_container_1 a {
	color: rgb(225, 238, 255);
}

.navbar1_links_container {
	height: 30svh;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.navbar1_partition {
	border: 2px solid rgb(225, 238, 255);
}

.footer_container_2 {
	/* border: 1px dotted blue; */

	height: 6vh;

	display: flex;
	justify-content: center;
	align-items: center;

	flex-direction: column;

	font-size: 2rem;
	color: rgb(5, 52, 119);
	background: rgb(175, 231, 253);
}

.footer_2_h1 {
	font-size: 1rem;
	color: rgb(5, 52, 119);

	text-align: end;

	/* margin-bottom: 3rem; */
}
