.hero_container {
	/* border: 2px dotted red; */

	background-image: url("../assets/hero_img_3.png");
	background-size: contain;
	background-position: bottom;
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 43vh;

	width: 99.1vw;

	display: flex;
	justify-content: center;
	align-items: center;
}

.hero_img_container {
	/* border: 1px dotted red; */

	/* background-image: url("../assets/hero_img_2.jpg");
	background-position: left;
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 43vh;

	width: 100vw; */
}

.services_container {
	/* border: 2px dotted blue; */
	height: 50vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background: whitesmoke;
}

.services_container h1 {
	font-size: 4rem;
	color: rgb(5, 52, 119);
}

.top_services_card {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 7px;

	background: rgb(236, 202, 209);
	color: crimson;
	box-shadow: rgba(247, 15, 35, 0.3) 0px 2px 4px 0px,
		rgba(255, 15, 35, 0.5) 0px 2px 16px 0px;
	top: -120px;
	z-index: 0;
	margin: 0 0.25rem;

	transition: 0.5s;
}

.top_services_card:hover {
	background: rgb(250, 93, 93);
	color: bisque;
	z-index: 5;
	transform: scale(1.1);
}

.all_services_container {
	height: auto;
	min-height: 110vh;
}

.all_service_1,
.all_service_2,
.all_service_3 {
	box-shadow: rgba(245, 14, 45, 0.19) 0px 10px 20px,
		rgba(248, 15, 15, 0.23) 0px 6px 6px;
}

.customers_card {
	border: 1px solid rgba(190, 184, 184, 0.514);

	box-shadow: rgba(247, 17, 28, 0.979) 0px 5px 15px;
}

.tracker_container {
	/* border: 2px dotted red; */

	width: 30rem;
	height: 12rem;

	margin-bottom: 2rem;
	margin-left: 3rem;

	transition: 0.35s;

	background: rgba(241, 125, 160, 0.2);
	border-radius: 10px;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(13.4px);
	-webkit-backdrop-filter: blur(13.4px);
	/* border: 1px solid rgba(83, 114, 232, 0.3); */
}

.tracker_container:hover {
	background: rgba(253, 77, 92, 0.55);
	box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.tracker_form {
	padding-top: 1rem;
	padding-left: 1rem;
	height: 100%;

	position: relative;
}

.tracker_form_label h1 {
	/* border: 1px dotted red; */
	padding-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: bolder;
	color: rgb(5, 52, 119);
}

.tracker_form_input {
	width: 95%;
	height: 3rem;
	padding: 0 0.5rem;
	font-size: large;
	border-radius: 7px;
	border: none;

	background: rgba(5, 53, 119, 0.75);
	color: aliceblue;
	font-weight: 600;
}

.tracker_form_input::placeholder {
	color: rgba(240, 248, 255, 0.562);
	font-weight: 400;
}

.search_icons {
	cursor: pointer;
	position: absolute;

	font-size: 3rem;
	color: rgba(129, 194, 250, 0.8);

	top: 68px;
	right: 20px;

	transition: 0.35s;

	border: 2px solid transparent;
}

.search_icons:hover {
	/* top: 68px; */
	transform: scale(1.2);
	border: 2px solid aliceblue;
	color: rgba(129, 194, 250, 0.8);
	color: aliceblue;
}

.hero_tracker_alert_message {
	/* color: rgb(19, 19, 85); */
	color: rgb(17, 13, 252);
}

.user_page_cards_container {
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background: aliceblue;
}

.user_page_cards {
	cursor: pointer;
	height: 15rem;
	width: 15rem;

	margin: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(44, 92, 253, 0.377);
	border-radius: 4px;
	box-shadow: rgba(38, 51, 241, 0.6) 0px 5px 15px;

	transition: 0.35s;

	/* color: aliceblue; */

	/* border: 1px dotted red; */
}

.user_page_cards {
	font-size: large;
	font-weight: 500;

	color: rgba(12, 67, 247, 0.8);
}

.user_page_cards:hover,
.user_page_cards a:hover {
	transform: scale(1.1);
	box-shadow: rgba(24, 56, 236, 0.3) 0px 19px 38px,
		rgba(8, 4, 252, 0.4) 0px 15px 12px;

	border-radius: 20px;

	background: rgba(3, 51, 209, 0.8);
	color: aliceblue;
}

.user_page_cards_container a::before,
.user_page_cards_container a:visited,
.user_page_cards_container a:active {
	/* .user_page_cards_container a:hover { */
	/* text-decoration: none; */
	color: rgba(4, 44, 223, 0.726);
	font-weight: bold;
}

.user_page_cards_for_list {
	cursor: pointer;
	height: 5rem;
	width: 25rem;

	margin: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgb(3, 196, 255);
	border-radius: 7px;
	box-shadow: rgba(38, 51, 241, 0.6) 0px 5px 15px;

	transition: 0.35s;

	color: aliceblue;

	/* border: 1px dotted red; */
}

.user_page_cards_for_list:hover {
	transform: scale(1.05);
	box-shadow: rgba(24, 56, 236, 0.3) 0px 19px 38px,
		rgba(8, 4, 252, 0.4) 0px 15px 12px;

	border-radius: 10px;

	background: rgba(3, 51, 209, 0.8);
	color: rgb(199, 242, 255);
}

.booking_form_container {
	height: 93vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.booking_form_container h1 {
	color: rgb(5, 52, 119);
}
