.hero_container {
	/* border: 2px dotted red; */

	background-image: url("../assets/hero_img_2.jpg");
	background-position: left;
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 43vh;

	width: 100vw;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.hero_img_container {
	/* border: 1px dotted red; */

	/* background-image: url("../assets/hero_img_2.jpg");
	background-position: left;
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 43vh;

	width: 100vw; */
}

.services_container {
	/* border: 2px dotted blue; */
	height: 70vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.services_container h1 {
	font-size: 4rem;
	color: rgb(5, 52, 119);
}

.tracker_container {
	/* border: 2px dotted red; */

	width: 30rem;
	height: 12rem;

	margin-bottom: 2rem;
	margin-left: 3rem;

	/* From https://css.glass */
	background: rgba(90, 104, 160, 0.2);
	border-radius: 10px;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(13.4px);
	-webkit-backdrop-filter: blur(13.4px);
	/* border: 1px solid rgba(83, 114, 232, 0.3); */
}

.tracker_form {
	padding-top: 1rem;
	padding-left: 1rem;
	height: 100%;

	position: relative;
}

.tracker_form_label h1 {
	/* border: 1px dotted red; */
	padding-bottom: 1rem;
	font-size: 1.5rem;
	font-weight: bolder;
	color: rgb(5, 52, 119);
}

.tracker_form_input {
	width: 95%;
	height: 2.5rem;
	padding: 0 0.5rem;
	font-size: large;
	border-radius: 7px;
	border: none;
}

.search_icons {
	cursor: pointer;
	position: absolute;

	font-size: 2rem;
	color: rgb(5, 52, 119);
	top: 67px;
	right: 23px;
}

.user_page_cards_container {
	height: 70vh;
	display: flex;

	justify-content: center;
	align-items: center;
}

.user_page_cards {
	cursor: pointer;
	height: 15rem;
	width: 15rem;

	margin: 3rem;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgba(3, 51, 209, 0.377);
	border-radius: 7px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

	transition: 0.2s ease-out;

	/* color: aliceblue; */

	/* border: 1px dotted red; */
}

.user_page_cards {
	font-size: large;
	font-weight: 500;
}

.user_page_cards:hover,
.user_page_cards a:hover {
	transform: scale(1.05);

	background: rgba(3, 51, 209, 0.8);
	color: aliceblue;
}

.user_page_cards_container a::before,
.user_page_cards_container a:visited,
.user_page_cards_container a:active {
	/* .user_page_cards_container a:hover { */
	/* text-decoration: none; */
	color: rgba(4, 44, 223, 0.726);
	font-weight: bold;
}

.booking_form_container {
	height: 93vh;

	display: flex;
	justify-content: center;
	align-items: center;
}

.booking_form_container h1 {
	color: rgb(5, 52, 119);	
}
