.leadership_header {
	/* From https://css.glass */
	background: rgba(63, 163, 255, 0.18);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(6.5px);
	-webkit-backdrop-filter: blur(6.5px);
	border: 1px solid rgba(63, 163, 255, 0.3);

	transition: 0.3s ease;
}

.leadership_header:hover {
	/* From https://css.glass */
	background: rgba(63, 163, 255, 0.41);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(10.5px);
	-webkit-backdrop-filter: blur(10.5px);
	border: 1px solid rgba(63, 163, 255, 0.51);
}
